<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/icon_style.css">
	<title>Al mundo</title>
</head>
<body>
	<nav class="navbar navbar-light bg-blue">
	  <a class="navbar-brand" href="#"><img src="/images/logo-almundo.svg"></a>
	</nav>
	<div ng-app="hotels" ng-controller="hotelController" class="container">
	  <div class="row">
	    <div class="col-md-3 section-padding filter-section">
	    	<div class="filter-header">
	    		Filtros
	    	</div>
	    	<div class="filter-header hotel-name-filter">
	    		<div class="title-filter"><span class="search"></span> <label>Nombre de hotel</label></div>
	    		<div>
	    			<input type="text" name="hotelName" ng-model="hotel_name" placeholder="Ingrese el nombre del hotel">
	    			<button class="btn-filter btn-general" ng-click="filterBy('name')">Aceptar</button>
	    		</div>
	    	</div>
	    	<div class="filter-header star-filter">
	    		<div class="title-filter">          
	    			<span class="star start-blue"></span> <label>Estrellas</label>
	    		</div>
	    		<div>
	    			<input ng-change="filterBy('stars')" ng-model="all_stars" type="checkbox" name="all-stars"> Todas las estrellas
	    		</div>
	    		<div>
	    			<input ng-change="filterBy('stars')" ng-model="five_stars" type="checkbox" name="five-stars"> 
	    			<span class="star"></span>
			      	<span class="star"></span>
			      	<span class="star"></span>
			      	<span class="star"></span>
			      	<span class="star"></span>
	    		</div>
	    		<div>
	    			<input ng-change="filterBy('stars')" ng-model="four_stars" type="checkbox" name="four-stars">
	    			<span class="star"></span>
			      	<span class="star"></span>
			      	<span class="star"></span>
			      	<span class="star"></span>
	    		</div>
	    		<div>
	    			<input ng-change="filterBy('stars')" ng-model="three_stars" type="checkbox" name="three-stars">
	    			<span class="star"></span>
			      	<span class="star"></span>
			      	<span class="star"></span>
	    		</div>
	    		<div>
	    			<input ng-change="filterBy('stars')" ng-model="two_stars" type="checkbox" name="two-stars">
	    			<span class="star"></span>
			      	<span class="star"></span>
	    		</div>
	    		<div>
	    			<input ng-change="filterBy('stars')" ng-model="one_stars" type="checkbox" name="one-stars">
	    			<span class="star"></span>
	    		</div>
	    	</div>
	    </div>
	    <div class="col-md-9 section-padding">
	      <div ng-repeat="hotel in hotels" class="hotel-item">
	      	<div class="row">
		      	<div class="col-md-4 hotel-item-image">
		      		<img src="/images/hotels/{{hotel.image}}">
		      	</div>
		      	<div class="col-md-5">
		      		<div class="title">{{ hotel.name }}</div>
		      		<div>
		      			<span ng-repeat="stars in getNumber(hotel.stars) track by $index" class="star"></span>
		      		</div>
		      		<div>
		      			<span ng-repeat="amenitie in hotel.amenities" class="amenitie {{amenitie}}"></span>
		      		</div>
		      	</div>
		      	<div class="col-md-3 text-center price-section">
		      		<div class="price-text">Precio por noche por habitación</div>
		      		<div class="price">ARS <span>{{hotel.price}}</span></div> 
		      		<button class="btn btn-primary btn-hotel btn-general">Ver Hotel</button>
		      	</div>
	      	</div>
	      </div>
	    </div>
	  </div>
	</div>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/angular-resource/angular-resource.js"></script>
	<script src="/javascripts/config.js"></script>
	<script src="/javascripts/app.js"></script>
</body>
</html>