body{
	background-color: #f4f4f4;
}

.container{
	margin-top: 1em;
	max-width: 1200px;
}

.section-padding{
	padding: .4em
}

.bg-blue {
    background-color: darkblue;
}

.hotel-item{
	border: solid 1px lightgray;
	padding: .5em;
	background-color: white;
	margin-bottom: 1em;
}

input[name=hotelName]{
	font-size: .8em;
	padding: .2em;
}

.hotel-item-image img{
	width: 100%;
}

.filter-section div:nth-child(1){
	font-weight: bold;
}

.star-filter div:nth-child(2){
	font-size: .8em;
	font-weight: bold;
}

.star-filter div{
	padding: .2em;
}

.title{
	color: #2181b9;
	font-weight: bold;
}

.btn-general{
	background-color: darkblue;
	border-color: darkblue;
}

.btn-general:hover{
	background-color: darkblue;
	border-color: darkblue;
}

.btn-hotel{
	width: 80%;
	font-weight: bold;
}

.btn-hotel:hover{
	font-weight: bold;
}

.price{
	color:#e16b00;
	font-size: 1.2em;
	padding: .5em
}

.price span{
	font-weight: bold;
	font-size: 1.5em;
}

.price-text{
	font-size: .7em;
	color: gray;
	padding: 0em 1em;
}

.price-section{
	border-left: 1px dashed lightgray;
	padding: 1.5em;
}

.filter-header{
	background-color: white;
	padding: .5em 1em;
	margin-bottom: .1em;
	border: 1px solid lightgray;
}

div.title-filter{
	color: #2181b9;
	font-size: .8em;
	font-weight: bold;
	padding-bottom: .8em; 
}

.title-filter label{
	padding-left: .2em;
}

.btn-filter{
	color: white;
}